
.gist-file .blob-wrapper {
    max-height: 1000px;
    overflow-y: auto!important;
}

#noscript-modal {
    position: fixed; 
    z-index: 200000; 
    padding-top: 100px; 
    left: 0px; 
    top: 0px; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.9); 
    transition: 
    padding-top 100ms ease-out; 
    box-sizing: border-box; 
    font-family: sans-serif, Verdana, Geneva, Tahoma;

}

#noscript-modal .modal-content {
    margin: auto; 
    display: block; 
    width: 80%; 
    max-width: 700px; 
    padding: 40px; 
    background: white;
     box-sizing: border-box;
}

#noscript-modal .modal-content h2 {
    color: rgb(236, 78, 32); 
    margin-top: 6px; 
    margin-bottom: 36px; 
    box-sizing: border-box;
}

#noscript-modal .modal-content a {
    background-color: transparent; 
    color: rgb(1, 111, 185); 
    box-sizing: border-box; 
    text-decoration: none;

}

/*===== Contact ===*/

.contact-form-wrapper input[type="submit"]:hover {
	background-color: #f8524e
}

.contact-form-wrapper input[type="text"]:focus,
.contact-form-wrapper input[type="email"]:focus,
.contact-form-wrapper textarea:focus {
	border-bottom-color: #9f9e9e
}

.contact-form-wrapper form ::-webkit-input-placeholder {
	color: #404040;
}

.contact-form-wrapper form ::-moz-placeholder {
	color: #404040;
}

.contact-form-wrapper textarea {
	border-bottom: 1px solid #bbbbbb;
	border-left: none;
	border-right: none;
	border-top: none;
	height: 77px;
	margin-top: 56px
}

/* icons */


.social-media-list li:hover {
	text-decoration: none;
}

.social-media-list li:hover.username {
	text-decoration: underline;
}

/* slider */ 

input[type="range"].flat-range-slider {
	-webkit-appearance: none;
	width: 160px;
	height: 20px;
	background: linear-gradient(to right, #c24040 0%, #c24040 100%);
	background-size: 150px 10px;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	outline: none;
}

input[type="range"].flat-range-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background: #f35353;
	position: relative;
	z-index: 3;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

input[type="range"].flat-range-slider::-webkit-slider-thumb:after {
	content: " ";
	width: 160px;
	height: 10px;
	position: absolute;
	z-index: 1;
	right: 20px;
	top: 5px;
	background: #fb5353;
	background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
}

section.blog-content:hover figure img {
	opacity: 0.5
}

.blog-details .enter-content a {
	text-decoration: underline;
	color: #fb5353;
}

.app-portal {
	width: 400px; 
	max-width: 100%; 
	margin: 35px auto; 
	border-radius: 8px; 
	box-shadow: 0 0 5px #ccc; 
	padding: 20px; 
	background: #fff; 
	text-align: center;
}

.app-portal a.btn {
	color: #fff;
	text-decoration: none;
}

.app-portal a.btn {
	box-shadow: 0 0 60px -10px #000
}

.app-portal a.btn > * {
	vertical-align: middle;
}


