<footer>
    <h1>
        <a href="{{ "index" | absolute_url }}" title="{{ site.title }}">
            <img width="100" class="lazyload" data-src="{{ "/assets/img/logo.png" | absolute_url }}" title="{{ site.title }}" alt="{{ site.title }}" />
        </a>
    </h1>
    <nav>
        <ul>
        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}
        {% assign lang = page.lang %}
        {% if lang %}{% else %}{% assign lang = site.lang %}{% endif %}
        
        {% for ref in site.data.navbar.menu %}
        {% assign refPage=site.pages | where:"ref", ref | where:'lang', lang | first %}
        <li{% if page.ref == ref %} class="nav-active" {% endif %}>
            <a href="{{ refPage.url }}">{{ refPage.title }}</a>
        </li>
        {% endfor %}
        </ul>
    </nav>
    {% include social.html %}
    <div style="margin-top: 10px"></div>
    <p class="copy-right affiliate">&copy; 2018 Sem Postma {% include i18.html _="rights" %}
        - <a href="{{ '/privacy' | absolute_url }}">{% include i18.html _="privacy" %}</a>
        - <a href="{{ '/terms-of-service' | absolute_url }}">{% include i18.html _="website_terms" %}</a>
        - <a href="{{ '/nl/algemene-voorwaarden' | absolute_url }}">{% include i18.html _="terms" %}</a>
    </p>
</footer>

<noscript>
    <div id="noscript-modal" class="modal" role="dialog" aria-expanded="true">
        <div class="modal-content">
            <h2>{% include i18.html _="important" %}!</h2>
            <p class="noscript-msg">
                {% include i18.html _="javascript_required" %}
                <br>
                <a href="https://www.enable-javascript.com/" target="_blank">
                    {% include i18.html _="javascript_instructions" %}</a>
            </p>
        </div>
    </div>
</noscript>

<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="{{ "/assets/js/main.js" | absolute_url }}" type="text/javascript"></script>
{% for script in page.scripts %}<script src="{{ script | absolute_url }}"></script>
{% endfor %}