<footer>
    <h1>
        <a href="{{ "index" | absolute_url }}" title="{{ site.title }}">
            <img class="lazyload" data-src="{{ "/assets/img/logo.png" | absolute_url }}" title="{{ site.title }}" alt="{{ site.title }}" />
        </a>
    </h1>
    <nav>
        <ul>
            <li>
                <a href="{{ "/" | absolute_url }}" title="Work">Work</a>
            </li>
            <li>
                <a href="{{ "/about" | absolute_url }}" title="About">About</a>
            </li>
            <li>
                <a href="{{ "/blog" | absolute_url }}" title="Blog">Blog</a>
            </li>
            <li>
                <a href="{{ "/contact" | absolute_url }}" title="Contact">Contact</a>
            </li>
        </ul>
    </nav>
    {% include social.html %}
    <div style="margin-top: 10px"></div>
    <p class="copy-right affiliate">&copy; 2018 Sem Postma All rights Resved.
        - <a target="_blank" href="{{ '/privacy-policy' | absolute_url }}">Privacy Policy</a>
        - <a target="_blank" href="{{ '/terms-of-service' | absolute_url }}">Terms of Service</a>
        - <a href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=579862.416&type=3&subid=0">IT Courses</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=579862.416&type=3&subid=0" >
        - <a href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=145238.10000683&type=3&subid=0">IT eBooks</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=145238.10000683&type=3&subid=0" >
        - <a href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=584883.23&type=3&subid=0">Hosting</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=584883.23&type=3&subid=0" >
        - <a href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=584883.23&type=3&subid=0">Cheap Domain Names</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=584883.23&type=3&subid=0" >
        - <a href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=584883.4&type=3&subid=0">Anti-DDoS Service</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=584883.4&type=3&subid=0" >
        - <a href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=584883.6&type=3&subid=0">Cloud Database</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=584883.6&type=3&subid=0" >
        - <a href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=584883.6&type=3&subid=0">Cloud CDN</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=584883.6&type=3&subid=0" >
        - <a href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=584883.7&type=3&subid=0">Shop Security</a><img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=584883.7&type=3&subid=0" >
    </p>
</footer>

<noscript>
    <div id="noscript-modal" class="modal" role="dialog" aria-expanded="true">
        <div class="modal-content">
            <h2>Important!</h2>
            <p class="noscript-msg">
                This website requires javascript.
                <br>
                <a href="https://www.enable-javascript.com/" target="_blank">
                    You can find instructions on how to enable javascript here.</a>
            </p>
        </div>
    </div>
</noscript>

<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="{{ "/assets/js/main.js" | absolute_url }}" type="text/javascript"></script>
