---
layout: page
---

<link rel="stylesheet" href="/assets/css/devices.css">

<style>
    .device-buttons,
    .device-stripe,
    .device-header,
    .device-sensors,
    .device-btns,
    .device-power {
        pointer-events: none;
    }

    .device * {
        box-sizing:
    }

    .buttons li {
        padding: 5px;
        margin: 5px;
    }
</style>

<div id="device" class="device device-iphone-x">
    <iframe id="device-frame" class="device-frame"></iframe>
    <div class="device-stripe"></div>
    <div class="device-header"></div>
    <div class="device-sensors"></div>
    <div class="device-btns"></div>
    <div class="device-power"></div>
    <div class="device-home"></div>
</div>

<ul class="buttons">

    <li><a class="device-link" style="background-color: null" href="?device=device-iphone-x">device-iphone-x</a></li>
    <li><a class="device-link" style="background-color: #e2e3e4;"
            href="?device=device-iphone-8 device-silver (default)">device-iphone-8 device-silver (default)</a></li>
    <li><a class="device-link" style="background-color: #f7e8dd;"
            href="?device=device-iphone-8 device-gold">device-iphone-8 device-gold</a></li>
    <li><a class="device-link" style="background-color: #9b9ba0;"
            href="?device=device-iphone-8 device-spacegray">device-iphone-8 device-spacegray</a></li>
    <li><a class="device-link" style="background-color: null"
            href="?device=device-google-pixel-2-xl&platform=android">device-google-pixel-2-xl</a></li>
    <li><a class="device-link" style="background-color: #e2e3e4;"
            href="?device=device-google-pixel device-silver (default)&platform=android">device-google-pixel
            device-silver (default)</a></li>
    <li><a class="device-link" style="background-color: #6a6967;"
            href="?device=device-google-pixel device-black&platform=android">device-google-pixel device-black</a></li>
    <li><a class="device-link" style="background-color: #7695ff;"
            href="?device=device-google-pixel device-blue&platform=android">device-google-pixel device-blue</a></li>
    <li><a class="device-link" style="background-color: #cfcfcf;"
            href="?device=device-galaxy-s8 device-black (default)&platform=android">device-galaxy-s8 device-black
            (default)</a></li>
    <li><a class="device-link" style="background-color: #a3c5e8;"
            href="?device=device-galaxy-s8 device-blue&platform=android">device-galaxy-s8 device-blue</a></li>
    <li><a class="device-link" style="background-color: #e2e3e4;"
            href="?device=device-ipad-pro device-silver (default)">device-ipad-pro device-silver (default)</a></li>
    <li><a class="device-link" style="background-color: #f7e8dd;"
            href="?device=device-ipad-pro device-gold">device-ipad-pro device-gold</a></li>
    <li><a class="device-link" style="background-color: #facfc9;"
            href="?device=device-ipad-pro device-rosegold">device-ipad-pro device-rosegold</a></li>
    <li><a class="device-link" style="background-color: #9b9ba0;"
            href="?device=device-ipad-pro device-spacegray">device-ipad-pro device-spacegray</a></li>
    <!-- <li><a class="device-link" style="background-color: null" href="?device=device-surface-pro">device-surface-pro</a></li> -->
    <!-- <li><a class="device-link" style="background-color: null" href="?device=device-surface-book">device-surface-book</a></li> -->
    <!-- <li><a class="device-link" style="background-color: #e2e3e4;" href="?device=device-macbook device-silver (default)">device-macbook device-silver (default)</a></li> -->
    <!-- <li><a class="device-link" style="background-color: #f7e8dd;" href="?device=device-macbook device-gold">device-macbook device-gold</a></li> -->
    <!-- <li><a class="device-link" style="background-color: #facfc9;" href="?device=device-macbook device-rosegold">device-macbook device-rosegold</a></li> -->
    <!-- <li><a class="device-link" style="background-color: #83878a;" href="?device=device-macbook device-spacegray">device-macbook device-spacegray</a></li> -->
    <!-- <li><a class="device-link" style="background-color: #e2e3e4;" href="?device=device-macbook-pro device-silver (default)">device-macbook-pro device-silver (default)</a></li> -->
    <!-- <li><a class="device-link" style="background-color: #83878a;" href="?device=device-macbook-pro device-spacegray">device-macbook-pro device-spacegray</a></li> -->
    <!-- <li><a class="device-link" style="background-color: null" href="?device=device-surface-studio">device-surface-studio</a></li> -->
    <!-- <li><a class="device-link" style="background-color: null" href="?device=device-imac-pro">device-imac-pro</a></li> -->
</ul>

<script type="text/javascript">
    function urlWithoutHashAndQuery(url) {
        url = new URL(url);
        return url.protocol + '//' +
            url.host +
            url.pathname;
    }

    function encodeUrlParamaters(obj) {
        var str = [];
        for (var p in obj) {
            var v = obj[p];
            if (obj.hasOwnProperty(p) && v !== undefined && v !== null && v !== '') {
                str.push(encodeURIComponent(p) + "=" + encodeURIComponent(v));
            }
        }
        return str.join("&");
    }

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
    var url = urlWithoutHashAndQuery(getUrlParameter('url'));
    var device = getUrlParameter('device');
    var platform = getUrlParameter('platform');

    document.getElementById('device-frame').setAttribute('src', url + '?' + encodeUrlParamaters({ device: device, platform: platform }));

    Array.from(document.querySelectorAll('.device-link')).forEach(function (anchor) {
        anchor.setAttribute('href', anchor.getAttribute('href') + '&url=' + url);
    });

    var device = getUrlParameter('device');
    if (device) document.getElementById('device').setAttribute('class', 'device ' + device);

</script>

{{ content }}