---
layout: default
---

<header class="lander-banner lander-banner-rocket-wrapper">
  <img class="lander-banner-rocket" alt="Rocket" src="/assets/img/rocket.svg">
  <div class="container">
    <div class="hidden-lg hidden-md"></div>
    <div class="col-sm-6 col-xs-12 nopadding">
      <h1>Echo Sierra Studio</h1>
      <p class="lead">
        {% if page.lang == 'nl' %}

        Een freelance web / app / mobiele / native ontwikkelstudio. Ik werk samen met bedrijven en individuen om nieuwe
        innovatieve oplossingen te ontwikkelen.
        Ik focus me op het helpen van duurzame en sociale initiatieven op het gebied van IT.

        {% else %}

        A freelance web/app/mobile/native development studio. I work with companies and individuals to develop
        new innovative solutions.
        I focus on helping sustainable and social initiatives in the field of IT.

        {% endif %}
      </p>
      {% assign about=site.pages | where:"ref", "about" | where:'lang', page.lang | first %}
      <a href="{{ about.url }}" class="btn btn-white">{{ about.title }}</a>
    </div>
  </div>
</header>

<div class="container lander-text">
  <div class="row seperate">
    <div class="col-xs">
      <h2>Services</h2>

      <div class="container-fluid">
        <div class="row services">
          <div class="col-xs col-sm-4 service">
            <img alt="Apps" height="100" src="/assets/img/mobile-phone.png">

            <h3>Apps</h3>

            <hr>

            <p>
              {% if page.lang == 'nl' %}

              Ik ontwikkel hybride / native apps voor verschillende platformen.

              {% else %}

              I develop cross-platform hybrid/native apps.

              {% endif %}
            </p>
          </div>
          <div class="col-xs col-sm-4 service">
            <img alt="Globe" height="100" src="/assets/img/globe.png">

            <h3>Website</h3>

            <hr>

            <p>
              {% if page.lang == 'nl' %}

              Ik ontwikkel webshops, blogs en meer.

              {% else %}

              I develop webshops, blogs and more.

              {% endif %}
            </p>
          </div>
          <div class="col-xs col-sm-4 service">
            <img alt="Desktop" height="100" src="/assets/img/desktop.png">
            <h3>Desktop</h3>

            <hr>

            <p>
              {% if page.lang == 'nl' %}

              Ik ontwikkel (native) desktop-apps.

              {% else %}

              I develop (native) desktop apps.

              {% endif %}
            </p>
          </div>
          <div class="col-xs-12">
            {% assign refPage = site.pages | where: "ref", "contact" | where: "lang", page.lang | first %}
            <a class="btn" href="{{ refPage.url }}">{{ refPage.title }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="lander-banner">
  <div class="newsfeeder container">
    <div class="col-sm-6 col-xs-12 nopadding" style="padding-right: 10px">
      <h1>Newsfeeder</h1>
      <p class="lead">
        {% if page.lang == 'nl' %}

        De gemakkelijkste manier om nieuws van uw favoriete websites, blogs
        en nieuwssites te volgen. Zoek eenvoudig naar nieuws op meerdere platforms en vind feeds op populaire
        websites en meer. Werkt ook als een klassieke RSS / Atom-lezer.

        {% else %}

        The easiest way to follow news from your favorite websites, blogs
        and news sites. Easily search for news on multiple platforms, find feeds on popular
        websites and more. Also works as a classic RSS/Atom reader.

        {% endif %}
      </p>
      <a target="_blank" href="https://newsfeeder.esstudio.site" class="btn btn-white" style="margin-bottom: 50px">Open
        Newsfeeder</a>
    </div>
    <div class="col-sm-6 col-xs-12">
      <img src="/uploads/newsfeeder-screenshot.png" class="img-responsive" alt="Newsfeeder screenshot banner.">
    </div>
  </div>
</div>
{{ content }}